@import 'base/vars';
@import 'mixins';
@import 'base/reset';

use {
    stroke-width: $stroke-w;
    fill: white;
    stroke: black;
}

body {
    display: flex;
    width: 100%;
    height: auto;
}

main {
    width: 80%;
    min-height: 100vh;
    padding-top: 10rem;
}

@import 'partials/header';
@import 'partials/aside';
@import 'partials/article';


.pagination {
    border-top: $stroke-w solid $main-neg-color;
    background-color: $main-color;
    position: relative;
    z-index: 1;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    ul {
        padding: 0 1rem;
        display: flex;
        width: 50vw;
        justify-content: space-between;

        li > * {
            display: inline-block;
            line-height: 1rem;
            height: 1.3rem;
            padding: 0 .75rem;
        }
    }
    a {

        &:hover {
            background-color: $grey;
            color: $main-color;
            @include font('bold');
        }
    }
    .current {
        background-color: $alt-color3;
    }
}



@import 'base/fonts';
