article {
    position: sticky;
    width: 100%;
    background-color: $main-color;
    min-height: 5rem;

    &.oblique {
        .content {
            transform: rotate(3deg);
            transform-origin: top left;
        }
    }

    &:first-of-type {
        margin-top: 10rem;
    }

    .lines {
        position: relative;
        top: -10.7vw;
        margin-bottom: -10vw;
    }

    .content {
        margin-top: -3rem;
        max-height: 30rem;
        overflow: hidden;
        padding-right: 50%;
        padding-bottom: 15rem;

        blockquote {
            border-bottom: none;
        }
    }

    a.moar {
        position: absolute;
        bottom: 10rem;
        text-decoration: none;
        background-color: white;
        border: $stroke-w solid $alt-color4;
        line-height: 1.3rem;
        height: 2rem;
        padding: 0 .75rem;

        &:hover, &:focus {
            background-color: $alt-color4;
        }
    }


    .gallery-preview {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            display: inline;
            max-width: 23%;
            height: 100%;
            margin-bottom: 1rem;
        }
    }

    &:nth-of-type(4n+1) {
        top: 7rem;
    }
    &:nth-of-type(4n+2) {
        top: 10rem;
    }
    &:nth-of-type(4n+3) {
        top: 13rem;
    }
    &:nth-of-type(4n) {
        top: 16rem;
    }
}

section {
    &:last-of-type {
        padding-bottom: 10rem;
    }
    &.infos {

        & + section {
            margin-top: -10vw;
        }
        .lines {
            use {
                fill: $alt-color2;
            }
        }

    }

    &.synopsis {
        h2 {
            margin-left: -5rem;
        }
    }
}
