.content {
    width: calc(100% - 30vw);
    padding: 0 0 3rem 5rem;
    max-width: 1280px;

    @media (orientation: portrait), (max-width: 800px) {
        width: 100%;
        padding-right: 5rem;

        @media (max-width: 600px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    h2 {
        font-size: 1.75rem;
        @include font('bold');
        border-bottom: $stroke-w solid $main-neg-color;
        margin-bottom: 2rem;
    }
    h3 {
        font-size: 1.5rem;
        @include font('ital');
        margin-bottom: 1.5rem;
        text-decoration: underline;
    }
    h4 {
        font-size: 1.25rem;
        @include font('light');
        margin-bottom: 1rem;
        &::before {
            content: '⋅ ';
        }
    }
    h5 {
        font-size: 1rem;
        @include font('reg');
        margin-bottom: 1rem;
        background-color: $alt-color2;
        height: 1.5rem;
        padding: 0 1rem;
    }
    h6 {
        font-size: 1rem;
        @include font('bold');
        margin-bottom: 1rem;
        &::before {
            content: '→ ';
        }
    }

    & > ul {
        margin: 1rem 0;
        li {
            &::before {
                content: '— ';
            }
            ul {
                margin-left: 1rem;
            }
        }
    }

    time {
        display: block;
        text-align: center;
    }

    a:hover, a:focus {
        background-color: $alt-color4;
    }

    blockquote {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 2rem;

        p {
            @include font('bold');
        }

        border-bottom: $main-neg-color solid $stroke-w/2;
    }

    sup, sub {
        font-size: 75%;
        line-height: 0;
        position: relative;
        @include font('bold');
    }
    sup {
        top: -0.5em;
        a {
            background-color: $alt-color;
        }
    }

    hr {
        border: 0;
        border-top: $main-neg-color solid $stroke-w;
        margin: 5rem 0 3rem 0;
    }

    img {
        max-width: 100%;

        &[data-url]:hover {
            cursor: pointer;
        }
    }

    .intro {
        margin-bottom: 5rem;
        p {
            @include font('light');
            strong {
                @include font('reg');
            }
        }
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;

        img {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }

    .center {
        text-align: center;
        display: block;
    }

    .right {
        text-align: right;
        display: block;
    }
}

.infos {
    background-color: $alt-color2;

    .content {
        display: flex;
        justify-content: space-between;
        margin-top: -2.5rem;
        padding-bottom: 8vw;

        .c-left {
            padding-top: 2.5rem;
            width: 60%;
            order: -1;
        }
        .c-right {
            width: 30%;
            img {
                max-width: 100%;
            }
        }

        .title {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        hr {
            margin: 2rem 0;
        }
    }
}

.projects-list {
    li {
        &:not(:last-of-type) {
            margin-bottom: .75rem;
        }
        &::before {
            content: '~';
            @include font('bold');
            position: absolute;
            margin-top: 0.5rem;
            margin-left: -1.25rem;
        }
    }
    .content {
        .title {
            font-size: 1.75rem;
        }
    }
}

.enlarged .content {
    width: calc(100% - 4rem);
    padding-right: 5rem;

    @media (max-width: 600px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
