main {
    .lines {
        width: 100%;
        height: auto;
        pointer-events: none;

        &.colored {
            use {
                fill: $alt-color2;
            }
        }
    }

    h1 {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 3rem;

        @media (orientation: portrait), (max-width: 800px) {
            margin-left: 2rem;

            // @media (max-width: 600px) {
            //     margin-left: 1rem;
            // }
        }

        &:not(.oblique) {
            @include font('bold');
            font-size: 1.5rem;
            margin-top: 2rem;
            border-bottom: dashed $stroke-w $main-neg-color;
        }

        &.aligned {
            position: relative;
            top: -3.5rem;
            margin-bottom: -10rem;
        }

        &.oblique {
            transform: rotate($angle);
            transform-origin: top left;
            @include font('script');

            span {
                padding: 0 1rem .5rem 1rem;
                line-height: 2.25rem;
                background-color: $alt-color2;
            }
            @media (max-width: 600px) {
                top: -2.5rem;
            }
        }

        &.post span, &.text span {
            background-color: $alt-color2;
        }
        &.short span, &.sound span {
            background-color: $alt-color;
        }
        &.notice span, &.gallery span {
            background-color: $alt-color3;
        }
    }


}

article {

    .content {
        padding-bottom: 7rem;

        blockquote {
            border-bottom: none;
        }
    }

    a.moar {
        display: inline-block;
        text-decoration: none;
        background-color: white;
        border: $stroke-w solid $alt-color4;
        line-height: 1.3rem;
        height: 2rem;
        padding: 0 .4rem;
        font-size: 1.5rem;
        line-height: 0.9rem;


        &:hover, &:focus {
            background-color: $alt-color4;
        }
    }

    &:not(.oblique) {

    }

    &.oblique {
        position: sticky;
        width: 100%;
        background-color: $main-color;
        min-height: 5rem;

        &:first-of-type {
            margin-top: 10rem;
        }

        .lines {
            position: relative;
            top: -10.7vw;
            margin-bottom: -10vw;
        }

        .content {
            margin-top: -1rem;
            @media (min-width: 600px) {
                margin-top: -3rem;
                transform: rotate(3deg);
                transform-origin: top left;
            }
            max-height: 30rem;
            overflow: hidden;
            // padding-bottom: 15rem;
        }

        a.moar {
            position: absolute;
            top: 0;
            left: 2.5rem;
            transform: rotate(-90deg);
            transform-origin: bottom right;

            @media (max-width: 600px) {
                top: -1rem;
                right: 2rem;
                left: auto;
            }
        }

        &:nth-of-type(4n+1) {
            top: 7rem;
        }
        &:nth-of-type(4n+2) {
            top: 10rem;
        }
        &:nth-of-type(4n+3) {
            top: 13rem;
        }
        &:nth-of-type(4n) {
            top: 16rem;
        }
    }

    .gallery-preview {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            display: inline;
            max-width: 23%;
            height: 100%;
            margin-bottom: 1rem;
        }
    }
}

section {
    &.infos {
        & + section {
            margin-top: -10vw;
            .content {
                padding-top: 3rem;
            }
        }
    }
    h1.big {
        margin-bottom: 3rem;
    }
}

.pagination {
    border-top: $stroke-w solid $main-neg-color;
    background-color: $main-color;
    position: relative;
    z-index: 1;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;

    ul {
        padding: 0 1rem;
        display: flex;
        width: calc(100% - 30vw);
        justify-content: space-between;

        @media (orientation: portrait), (max-width: 800px) {
            width: 100%;
        }

        li > * {
            display: inline-block;
            line-height: 1rem;
            height: 1.3rem;
            padding: 0 .75rem;
        }
    }

    a {

        &:hover {
            background-color: $grey;
            color: $main-color;
            @include font('bold');
        }
    }

    .current {
        background-color: $alt-color3;
    }
}

#viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #000000cc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.hidden {
        display: none;
    }

    img {
        max-height: 100vh;
        max-width: 100vw;
    }
}
