$main-color: white;
$main-neg-color: black;
$alt-color: #d0ffd6;
$alt-color2: #fff9d0;
$alt-color3: #ffd6ff;
$alt-color4: #d0d6ff;
$text-color: black;
$text-neg-color: white;
$grey: #b0b0b0;

$font: 'Compagnon';

$stroke-w: 3px;
$angle: -12deg;
