{% extends 'partials/base.html.twig' %}

{% block body %}
{% include 'svgs/post-sample.html.twig' %}

{% include 'partials/header.html.twig' %}
<div class="flex">
    <main role="main">
    {% block main %}
    {% if page.content %}
    {{ page.content }}
    {% endif %}
    {% endblock %}
    </main>
    <aside class="">
    </aside>
</div>
{% endblock %}
