{% extends 'base/base.html.twig' %}

{% block body %}
{% include 'svgs/post-sample.html.twig' %}

{% include 'partials/header.html.twig' with {nav_extra: block('nav_extra')} %}
<main role="main">
{% block main %}
{% if page.content %}
{{ page.content }}
{% endif %}
{% endblock %}
</main>
{% include 'partials/aside.html.twig' %}
{% endblock %}
