{% extends 'partials/base.html.twig' %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="flex">
    <main>
    {% block main %}
    {% if page.content %}
    {{ page.content }}
    {% endif %}
    {% endblock %}
    </main>
</div>
{% endblock %}
